:host {
    .header {
        height: 54px;
        background-color: rgba(0, 0, 255, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 36px;
        letter-spacing: 3px;
    }
}